dask==2023.3.1
detectron2==0.6+cu111
fastdtw==0.3.4
filterpy==1.4.5
fvcore==0.1.5.post20221122
gradio==4.44.1
matplotlib==3.9.2
networkx==2.8.8
numba==0.56.4
numpy==1.23.0
open3d==0.18.0
Pillow==9.5.0
pyquaternion==0.9.9
PyYAML==5.4.1
rdp==0.8
scipy==1.9.1
seaborn==0.13.2
tensorflow==2.11.0
torch==1.9.1
torchvision==0.10.1
tqdm==4.64.1
tslearn==0.6.3
